{% extends "base.html" %}
{% block title %} Ajouter un Draw{% endblock %}
{% block body %}

    <link rel="stylesheet" href="add_user_style.css">

    <div class="home">
        <BODY bgcolor="#d1a2f1">
        <form method="POST" action="">
            <div>
                {{ msgHtml }}
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
            <h1>Clavioter un nouveau DRAW</h1>
            <div class="form">
                <p>Nom Draw <input type = "text" name= "name_draw_html" /></p>
                <p>Description Draw <input type = "text" name= "draw_description_html" /></p>
                <!--<p>Upload Image (todo) <input type = "text" name= "image_draw_html" /></p>-->
                <label for="image_draw_html">Choose a picture:</label>

                <input type="file"
                       id="image_draw_html" name="image_draw_html"
                       accept="image/png, image/jpeg">
                <br>
                
                <br>
                <input type = "submit">
            </div>

        </form>
        <br>
        todo
        <a href="/afficher_draw"><button>Affiche Draws</button></a>
        <a href="/home"><button>Home Page</button></a>

        </BODY>
    </div>
{% endblock %}