<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <link rel="stylesheet" href="add_user_style.css">-->
<!--</head>-->
<!--<body>-->
{% extends "base.html" %}
{% block title %} Ajouter un User{% endblock %}
{% block body %}

    <link rel="stylesheet" href="add_user_style.css">

    <div class="home">
        <BODY bgcolor="#d1a2f1">
        <form method="POST">
            <div>
                {{ msgHtml }}
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
            <h1>Clavioter un nouveau CATEGORY</h1>
            <div class="form">
                <p>Nom Category<input type = "text" name= "name_category_html" /></p>
                <br>
                <br>
                <input type = "submit">
            </div>

        </form>
        <br>
        todo
        <a href="/afficher_category"><button>Affiche Category</button></a>
        <a href="/home"><button>Home Page</button></a>

        </BODY>
    </div>
<!--</body>-->
{% endblock %}
<!--</html>-->