{% extends "base.html" %}
{% block title %} Afficher CATEGORY {% endblock %}
{% block body %}
        <br>
        <table border="1" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>id category</th>
                    <th>category name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.id_category }}</td>
                    <td>{{ row.category_name }}</td>

                  <th><a class="btn btn-warning" href="{{ url_for('edit_category', id_category_edit_html=row.id_category) }}" role="button">Edit</a></th>
                  <th><a class="btn btn-danger" href="{{ url_for('category_to_delete', id_category_delete_html=row.id_category) }}" role="button">Delete</a></th>

                </tr>
            {% endfor %}
        </table>
        <br>
        <a href="/add_category"><button>Add Category</button></a>
        <a href="/home"><button>Home Page</button></a>
{% endblock %}