{% extends "base.html" %}
{% block title %} Homepage RDV {% endblock %}
{% block body %}


<form method="POST" action="{{ url_for('update_category') }}">
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>
                id category
            </th>
            <th>
                Genre
            </th>
        </tr>
        </thead>

        {% for row in data %}
        <tbody>
        <tr>
            <td>
                <input name="id_category_edit_html" value="{{ row.id_category }}"/>
            </td>
            <td>
                <input type="text" name="category_name_html" value="{{ row.category_name }}"/>
            </td>
            <td>
                <button class="btn btn-warning" type="submit">Update</button>
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</form>
{% endblock %}