<!--<mat-sidenav-container class="example-container">-->
<!--  <mat-sidenav mode="side" opened>-->
<!--    <p>hi</p>-->
<!--    <p>hi</p>-->
<!--    <p>hi</p>-->
<!--  </mat-sidenav>-->
<!--&lt;!&ndash;  <mat-sidenav-content></mat-sidenav-content>&ndash;&gt;-->
<!--</mat-sidenav-container>-->
