<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <link rel="stylesheet" href="add_user_style.css">-->
<!--</head>-->
<!--<body>-->
{% extends "base.html" %}
{% block title %} Ajouter un User{% endblock %}
{% block body %}

<!--<style>-->
<!--body{-->
<!--    background-color: powderblue;-->
<!--}-->
<!--.form{-->
<!--    display: grid;-->
<!--    grid-template-columns: 1fr;-->
<!--    grid-gap: 2em;-->
<!--}-->
<!--</style>-->
    <link rel="stylesheet" href="add_user_style.css">

    <div class="home">
        <BODY bgcolor="yellow">
        <form method="POST" action="">
            <div>
                {{ msgHtml }}
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
            <h1>Clavioter un nouveau Role</h1>
            <div class="form">
                <p>Nom Role <input type = "text" name= "name_role_html" /></p>
                <input type = "submit">
            </div>

        </form>
        <br>
        <a href="/home"><button>Home Page</button></a>
        <a href="/afficher_roles"><button>Afficher Roles</button></a>
        </BODY>
    </div>
<!--</body>-->
{% endblock %}
<!--</html>-->