{% extends "base.html" %}
{% block title %} Afficher DRAW {% endblock %}
{% block body %}
<a href="/add_draw">
    <button>Add Draw</button>
</a>
<a href="/home">
    <button>Home Page</button>
</a>
<br>
<table border="1" cellpadding="5" cellspacing="5">
    <thead>
    <tr>
        <th>Nome du Draw</th>fo
        <th>Description</th>
        <th>Image</th>
    </tr>
    </thead>
    {% for row in data %}
    <tr>
        <td>{{ row.draw_name }}</td>
        <td>{{ row.draw_description }}</td>
        <td><img src={{row.image}} style="width:100%;height:auto;"></td>
        <tr>
            <td> {{ row.CategoryOfDraw|default("PAS DE GENRES", True) }} </td>
            <td><a href="{{ url_for('edit_category_of_draw', id_draw_selected_html=row.id_draw) }}">Modifier</a></td>
        </tr>
    </tr>
    {% endfor %}
</table>
<br>
{% endblock %}

