{% extends "base.html" %}
{% block title %} Afficher FILMS GENRES {% endblock %}
{% block head %}
    <!--
        OM 2020.05.04
        On utilise le composant "tags-selector-tagselect" juste dans cette page,
         il n'est pas nécessaire de la charger pour chaque page
        c'est pourquoi il ne se trouve pas dans "base.html" mais ici
        entre les balises JINJA "block head" "endblock"
        -->
    <link rel="stylesheet" href="{{ url_for('static', filename='tags-selector-tagselect/jquery.tagselect.css') }}">
    <script src="{{ url_for('static', filename='tags-selector-tagselect/jquery.tagselect.js') }}"></script>
{% endblock %}
{% block body %}
<head>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->


    <link rel="stylesheet" href="{{ url_for('static', filename='tags-selector-tagselect/jquery.tagselect.css') }}">
    <script src="{{ url_for('static', filename='tags-selector-tagselect/jquery.tagselect.js') }}"></script>
</head>

<table border="1" cellpadding="5" cellspacing="5">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome du Draw</th>
        <th>Description</th>
        <th>Image</th>
    </tr>
    </thead>
    {% for row in data_actual_draw %}
    <tr>
        <td>{{ row.id_draw }}</td>
        <td>{{ row.draw_name }}</td>
        <td>{{ row.draw_description }}</td>
        <td><img src="{{ row.image }}" alt="PovType"></td>
    </tr>
    {% endfor %}
</table>



<div class="container">
    <div class="row mx-md-n5">
      <div class="col px-md-5">
          <div class="p-3">
            <form id="form_tags_select_confirm" action="{{ url_for('update_category_of_draw') }}" method="POST">
                <div class="qtagselect isw360">
                    <select id="OM_JTSD" name="name_select_tags" class="qtagselect__select" multiple>
                        {% for row in data_category_not_assigned_to_draw %}
                            <option value="{{ row.id_category }}" name="name_tags_non_attribues_html" class="isblue" >{{ row.category_name }}</option>
                        {% endfor %}

                        {% for row in data_category_assigned_to_draw %}
                            <option value="{{ row.id_category }}" name="name_tags_attribues_html" class="ispurple" selected>{{ row.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>

            </form>
          </div>
      </div>
      <div class="col px-md-5">
          <div class="p-3">
            <input type="submit" form="form_tags_select_confirm" class="btn btn-warning" value="Modifier">
          </div>
      </div>
    </div>
</div>

<script>
    $('.qtagselect__select').tagselect({
    // Paramètres du composant : https://www.jqueryscript.net/form/tags-selector-tagselect.html
    // maximum number of tags allowed to select
      'maxTag': 100,
    // error message,
      'tagMessage': '100 tags au max !'
    });
</script>


{% endblock %}