<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Mon beau projet{% endblock %}</title>

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.slim.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

    <script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootswatch-4.4.1/cyborg/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<link rel="stylesheet" type="text/css" href="../static/css/style.css">

    {% block head %}{% endblock %}
	{% include 'flash_messages.html' %}
</head>

<body>
<div class="container">
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
		  <li class="nav-item">
<!--		Afficher la liste des genres dans l'ordre (ASC) et tous les genres (0)-->
			<a class="nav-link" href="{{ url_for('home') }}">Home</a>
		  </li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Users</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUser">
				  <a class="dropdown-item" href="{{ url_for('afficher_users') }}">Afficher Users</a>
				  <a class="dropdown-item" href="{{ url_for('add_user') }}">Ajouter un User</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRole" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Roles</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownRole">
				  <a class="dropdown-item" href="{{ url_for('afficher_roles') }}">Afficher Roles</a>
				  <a class="dropdown-item" href="{{ url_for('add_role') }}">Ajouter un Role</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownCategory">
				  <a class="dropdown-item" href="{{ url_for('afficher_category') }}">Afficher Categoryes</a>
				  <a class="dropdown-item" href="{{ url_for('add_category') }}">Ajouter une Category</a>
				</div>
			</li>

		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  Draws
			</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
			  <a class="dropdown-item" href="{{ url_for('afficher_draw') }}">Draws</a>
			  <a class="dropdown-item" href="{{ url_for('afficher_draw_with_category',id_draw_selected=0) }}">Draws with Category</a>
			  <a class="dropdown-item" href="{{ url_for('add_draw') }}">Ajouter un Draw</a>
			</div>
		  </li>
		</ul>
	</div>
	</nav>
</div>

{% block header %} {% endblock %}

{% block body %}{% endblock %}


{% block javascript %}{% endblock %}

{% include 'footer.html' %}
</body>
</html>