<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
        <div class="row">
            <div class="col-md-6">2020.06<span class="small"><br><a href="http://www.w3school.com" target="_blank">Voir la Vrai Verité</a></span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">2020.06.23</div>
        </div>
  </div>
</footer>
