{% extends "base.html" %}
{% block title %} Homepage RDV {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <h1>Home page</h1>
            <a>Le début de votre projet....!!!!??</a>
            <a>Oui le debut de mon projet, la home page ;)</a>
            <table style="width:100%">
                <tr>
                    <td>
                        <a href="/add_user">
                            <button class="btn btn-primary">Add User</button>
                        </a>
                    </td>
                    <td>
                        <a href="/afficher_users">
                            <button class="btn btn-primary">Affiche Users</button>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <a href="/afficher_roles">
                            <button class="btn btn-primary">Affiche Roles</button>
                        </a>
                    </td>
                    <td>
                        <a href="/add_role">
                            <button class="btn btn-primary">Ajouter Roles</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><br></td>
                </tr>
                <tr>
                    <td>
                        <a href="/add_draw">
                            <button class="btn btn-primary">Ajouter Draw</button>
                        </a>
                    </td>
                    <td>
                        <a href="/afficher_draw">
                            <button class="btn btn-primary">Afficher Draws</button>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <a href="/afficher_category">
                            <button class="btn btn-primary">Afficher Category</button>
                        </a>
                    </td>
                    <td>
                        <a href="/add_category">
                            <button class="btn btn-primary">Ajouter Categoryes</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="{{ url_for('afficher_draw_with_category', id_draw_selected=0) }}">
                            <button class="btn btn-primary">Afficher Draw with Category</button>
                        </a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>


{% endblock %}