<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <link rel="stylesheet" href="add_user_style.css">-->
<!--</head>-->
<!--<body>-->
{% extends "base.html" %}
{% block title %} Ajouter un User{% endblock %}
{% block body %}

<!--<style>-->
<!--body{-->
<!--    background-color: powderblue;-->
<!--}-->
<!--.form{-->
<!--    display: grid;-->
<!--    grid-template-columns: 1fr;-->
<!--    grid-gap: 2em;-->
<!--}-->
<!--</style>-->
    <link rel="stylesheet" href="add_user_style.css">

    <div class="home">
        <BODY bgcolor="#d1a2f1">
        <form method="POST" action="">
            <div>
                {{ msgHtml }}
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
            <h1>Clavioter un nouveau USER</h1>
            <div class="form">
                <p>Nom User <input type = "text" name= "name_user_html" /></p>
                <p>Prenom (Surname) User <input type = "text" name= "surname_user_html" /></p>

                <div>
                    <p>Date de naissance : </p>
                    <div>
                        <span>Jour du mois : </span><input type = "text" name= "bday_user_day_html" />
                        <span>Numéro du mois : </span><input type = "text" name= "bday_user_month_html" />
                        <span>Année : </span><input type = "text" name= "bday_user_year_html" />
                    </div>
                </div>

                <br>
                <span>User Role: </span>
                <select name="roles" id="comboxroles">
                    {% for row in data %}
                    <option name="user_role">{{ row.role_name }}</option>
                    {% endfor %}
                </select>

                <br>
                
                <br>
                <input type = "submit">
            </div>

        </form>
        <br>
        <a href="/afficher_users"><button>Affiche Users</button></a>
        <a href="/home"><button>Home Page</button></a>

        </BODY>
    </div>
<!--</body>-->
{% endblock %}
<!--</html>-->