{% extends "base.html" %}
{% block title %} Afficher GENRES {% endblock %}
{% block body %}
        <br>
        <table border="1" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>id_user</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date de naissance</th>
<!--                    <th></th>-->
                </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.ID_User }}</td>
                    <td>{{ row.Name }}</td>
                    <td>{{ row.Surname }}</td>
                    <td>{{ row.BirthDate }}</td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <a href="/add_user"><button>Add User</button></a>
        <a href="/home"><button>Home Page</button></a>
{% endblock %}

