<header>
  <mat-toolbar class="mytoolbar">
    <span>RDV - application</span>
    <span> </span>
    <div>
      <span class="spacer"> </span>
      <mat-icon>account_circle</mat-icon>
    </div>
  </mat-toolbar>
</header>

<nav>
  <app-sidenav></app-sidenav>
</nav>




